<div class="card mb-3 mt-3">
    <div class="card-header">
        <h5 class="card-text text-secondary">KAYIT OL</h5></div>
  <form [formGroup]="registerForm">
    <div class="mb-3 mt-3 ms-3 me-3">
      <label for="firstName" class="form-label">Adınız</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
    </div>
    <div class="mb-3 mt-3 ms-3 me-3">
      <label for="lastName" class="form-label">Soyadınız</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>
    <div class="mb-3 mt-3 ms-3 me-3">
        <label for="email" class="form-label">E-Posta</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3 mt-3 ms-3 me-3">
        <label for="password" class="form-label">Parola</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="mb-3 mt-3 ms-3 me-3">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
          </div>  
      </div>
  </form>
</div>
