<div class="card mb-3 mt-3">
  <div class="card-header">
    <h5 class="card-title">Detaylar</h5>
  </div>
  <div class="card-body text-center">
    <p class="card-text">
      <span class="text-muted">Marka:</span> {{ car.brandName }}
    </p>
    <p class="card-text">
      <span class="text-muted">Model:</span> {{ car.model }}
    </p>
    <p class="card-text">
      <span class="text-muted">Yıl:</span> {{ car.modelYear }}
    </p>
    <p class="card-text">
      <span class="text-muted">Renk:</span> {{ car.colorName }}
    </p>
    <p class="card-text">
      <span class="text-muted">Günlük Ücret: </span> {{ car.dailyPrice }} ₺
    </p>
    <div class="d-grid gap-2">
      <button
        routerLink="/cars/car/{{ car.id }}//rental/add"
        type="button"
        class="btn btn-primary"
      >
        Kirala
      </button>
    </div>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-header">
    <h5 class="card-title">Resimler</h5>
  </div>
  <div class="card-body">
    <table>
      <tbody>
        <tr *ngFor="let image of car.images">
          <td>
            <img [src]="getImage(image.imagePath)" class="card-img" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
