<div class="mb-3 mt-3">
    <button (click) = 'list()' type="button" class="btn btn-success">Markaları Göster</button>
    <button (click) = 'deList()' type="button" class="btn btn-danger ms-3">Markaları Gizle</button>
</div>
<div *ngIf="brands" class="mb-3 mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-primary">Marka</th>
                <th class="text-primary">Güncelleme</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let brand of brands">
                <td>{{brand.name}}</td>
                <td><button routerLink="/brand/update/{{brand.id}}" type="button" class="btn btn-success">Güncelle</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mb-3 mt-3">
    <form [formGroup]="brandAddForm">
        <label for="name" class="form-group text-primary">Marka Adı</label>
        <div class="form-group">
          <input
            id="name"
            type="text"
            formControlName="name"
            class="form-control"
          />
        </div>
    </form>
</div>
<div class="mb-3 mt-3">
 <div class="d-grid gap-2">
    <button (click)='add()' type="button" class="btn btn-primary">Ekle</button>
</div>
</div>