<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title text-secondary">MARKA</h5>
  </div>
  <div class="body">
    <ul class="list-group">
      <li routerLink="/brand/add" class="list-group-item">Marka Ekle</li>
      <li routerLink="/brand/update" class="list-group-item">Marka Güncelle</li>
    </ul>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title text-secondary">RENK</h5>
  </div>
  <div class="body">
    <ul class="list-group">
      <li routerLink="/color/add" class="list-group-item">Renk Ekle</li>
      <li routerLink="/color/update" class="list-group-item">Renk Güncelle</li>
    </ul>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <h5 class="card-title text-secondary">ARABA</h5>
  </div>
  <div class="body">
    <ul class="list-group">
      <li routerLink="/car/add" class="list-group-item">Araba Ekle</li>
      <li routerLink="/car/update" class="list-group-item">Araba Güncelle</li>
    </ul>
  </div>
</div>
