<div class="mb-3 mt-3">
  <input
    type="search"
    [(ngModel)]="filterByBrandName"
    class="form-control"
    id="brandName"
    placeholder="Marka"
  />
</div>

<div class="mb-3 mt-3">
  <input
    type="search"
    [(ngModel)]="filterByModel"
    class="form-control"
    id="model"
    placeholder="Model"
  />
</div>

<div class="mb-3 mt-3">
  <input
    type="search"
    [(ngModel)]="filterByModelYear"
    class="form-control"
    id="modelYear"
    placeholder="Yıl"
  />
</div>

<div class="mb-3 mt-3">
  <input
    type="search"
    [(ngModel)]="filterByColor"
    class="form-control"
    id="color"
    placeholder="Renk"
  />
</div>

<table class="table">
  <thead>
    <tr>
      <th>Marka</th>
      <th>Model</th>
      <th>Yıl</th>
      <th>Renk</th>
      <th>Günlük Fiyat</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let car of carsDto
          | filter
            : filterByBrandName
            : filterByModel
            : filterByModelYear
            : filterByColor
      "
    >
      <td>
        {{ car.brandName }}
      </td>
      <td>
        {{ car.model }}
      </td>
      <td>
        {{ car.modelYear }}
      </td>
      <td>
        {{ car.colorName }}
      </td>
      <td>{{ car.dailyPrice }} ₺</td>
      <td>
        <button
          routerLink="/cars/car/{{ car.id }}"
          (click)="setCurrentCar(car)"
          class="btn btn-primary"
        >
          Detaya Git
        </button>
      </td>
    </tr>
  </tbody>
</table>
