<div *ngIf="isUpdate" class="mb-3 mt-3">
    <form [formGroup]="colorUpdateForm">
      <label for="name" class="form-group text-primary">Renk Adı</label>
      <div class="form-group">
        <input
          id="name"
          type="text"
          formControlName="name"
          class="form-control"
        />
      </div>
    </form>
    <div class="mb-3 mt-3">
      <div class="d-grid gap-2">
      <button (click)="update()" type="button" class="btn btn-success">
        Güncelle
      </button>
    </div>
    </div>
  </div>
  
  <div *ngIf="!color && colors" class="mb-3 mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-primary">Renk</th>
          <th class="text-primary">Güncelleme</th>
        </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let color of colors">
          <td>{{ color.name }}</td>
          <td>
            <button
              (click)="checkUpdate(color)"
              type="button"
              class="btn btn-success"
            >
              Güncelle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="color" class="mb-3 mt-3">
      <h3 class="text-secondary">GÜNCELLENECEK RENK</h3>
      <p class="text-danger fw-bolder">{{color.name}}</p>
      <form [formGroup]="selectedColorUpdateForm">
          <label for="name" class="form-group text-primary">Renk Adı</label>
          <div class="form-group">
            <input
              id="name"
              type="text"
              formControlName="name"
              class="form-control"
            />
          </div>
        </form>
        <div class="mb-3 mt-3">
          <div class="d-grid gap-2">
            <button (click)="selectedColorUpdate()" type="button" class="btn btn-success">
              Güncelle
            </button>
          </div>  
        </div>
  </div>